*{padding: 0;margin: 0;box-sizing: border-box ;}
body{
    background-color: aqua;
}
.header{
    width: 100%;
    position: sticky;
    height: 54px;
    top: 0;
    background-color: rgb(133, 250, 133);
    justify-content: space-evenly;
    display: flex;
}
.header_left img{
    height: 50px;
    margin: 3px;
    margin-right: 100px;
    
}
.header_left{
    display: flex;
}
.header_right{
    display: flex;
}
.header_search{
    margin: 10px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 34px;
    background-color: white;
}
.header_search input{
    outline: none;
    border: none;
    width: 220px;
    background: none;
}
.header_options{
    margin-top: 10px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: black;
    cursor: pointer;
}
.header_options:hover{
    color: blue;
}
.header_options h3{
    font-size: 12px;
    margin-top: 5px;
}
.headerOption_icon{
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
.body_main{
    display: flex;
    margin-top: 35px;
    width: 100%;
    margin: 0 20px;
}
.sidebar{
    margin-top: 25px;
    position: sticky;
    margin-left: 50px;
    top: 80px;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
.sidebarfirst img{
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -20px;
    object-fit: cover;
}
.sidebarfirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}
.sidebarfirst h4{
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}
.sidebarfirst h2{
    font-size: 18px;
}
.sidebarfirst i{
    font-size: 40px;
}
.sidebarsall{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.stat p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
}
.sidebar_statnumbers{
    font-weight: bold;
    color: blue !important;
}
.sidebarbottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.sidebar_recentitem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}
.sidebar_recentitem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}
.sidebar_hash{
    margin: 0 10px;
}
.sidebarbottom p{
    font-size: 14px;
    padding-bottom: 10px;
}
.feed{
    width: 90vh;
    margin: 0 20px;
    margin-top: 25px;
    
}
.feed_inputcontainer{
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.account_and_write{
    display: flex;
}
.feed_inputcontainer .account{
    font-size: 50px;
}
.feed_input{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}
.feed_input form{
    display: flex;
    width: 100%;
}
.feed_input form input{
    border: none;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed_inputoptions{
    display: flex;
    justify-content: space-evenly;
}
.inputoptions{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.inputoptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.inputoptions h4{
    margin-left: 5px;
}
.center_part{
    background-color: white;
    height: 50vh;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
}
.rightsection{
    width: 55vh;
    top: 80px;
    position: sticky;
    background-color: white;
    border-radius: 10px;
    height: 65vh;
}